
<div class="container" >
  <h1>Post A Qustions Here</h1>
<form [formGroup]="qusForm"  novalidate>
  <p>
    <!-- <label for="qus"> Qus:</label> -->
    <!-- <input type="text" formControlName="qus" /> -->
    <textarea name="qus"  formControlName="qus" placeholder="Write A Qustions Here"></textarea>
  </p>
  
  <button class="btn btn-warning" (click)="addqus()">Post A qustion</button>

</form>


<div class="mt-5 qusans" style="background-color: rgb(178, 222, 183);">
<div *ngFor="let qu of qustion" style="padding-top: 80px; ">
  <div class="clearfix">
    <p class="qustions float-start "><span>{{qu.id}}.</span>{{qu.qus}}</p>
    <button class="btn btn-primary btn-lg float-end"  data-bs-toggle="modal" data-bs-target="#myModal" style="margin-right: 70px;margin-top: 25px;" (click)="modelfun(qu.id)">Answer me</button> 
 
  </div>

  <div *ngFor="let rar of qu.ans"  >
    <p class="answers rounded-pill">{{rar}}</p>
  </div>

  <!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Write Your Answer</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="ansForm"  novalidate>

          <p>
            <!-- <label for="ans">Ans:</label>
            <input type="text" name="ans" formControlName="ans" /> -->
            <textarea name="ans"  formControlName="ans" placeholder="Write A Answer Here"></textarea>

          </p>
        
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="getans()">Submit Answer</button>

      </div>

    </div>
  </div>
</div>

</div>
</div>
</div>





 

