.qustions{
    /* border: 2px solid red; */
width: 900px;
height: auto;
border-radius: 10px;
padding: 20px;
font-size: 2bzx0px;
color:blue;
background-color: rgb(243, 225, 246);


}
.answers{
    /* border: 2px solid rgb(45, 10, 241); */
width: 900px;
height: auto;

padding: 20px;
margin-left: 180px;
color:red;
background-color: rgb(250, 251, 248);


}
textarea{
    width: 1000px;
    height: 100px;
    border: 2px solid rgb(18, 215, 93);
    border-radius: 10px;
}
.qusans{
    border: 2px solid aqua;
    padding-top: 50px;
}
